@import "assets/css/vars.scss";
.ov-lib-nav {
    grid-area: nav;
    font-size: 1rem;
	background: rgba(245,245,245,1);
	font-family: Segoe UI;
    .ov-lib-nav-btn {

		display: flex;
    	color: #0a0a0a;
    	height: 3em;
		font-weight: 400;
		cursor: pointer;
		user-select: none;

		.ov-lib-nav-btn-text {
			overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    margin: auto 0em;
		}
		.ov-lib-nav-btn-icon {
			width: 1.5em;
		    height: 1.5em;
		    margin: auto 1em;
			-webkit-mask-repeat: no-repeat;
		    -webkit-mask-size: contain;
			-webkit-mask-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/878743-200.png');
		    background-color: #909090;
		}

        &:hover {
			background: rgba(0,0,0,0.1);
        }
    }
	.ov-lib-nav-btn-selected {
		background: rgba(0,0,0,0.2);
		font-weight: 500 !important;
		.ov-lib-nav-btn-icon {
			background-color: $OVPrimaryColor;
		}
		&:hover {
			background: rgba(0,0,0,0.2);
		}
	}
	.ov-lib-nav-btn-search {
		.ov-lib-nav-btn-icon {
			-webkit-mask-image: url('../assets/png/search.png');
		}
	}
	.ov-lib-nav-btn-history {
		.ov-lib-nav-btn-icon {
			-webkit-mask-image: url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_history_48px-512.png');
		}
	}
	.ov-lib-nav-btn-favorites {
		.ov-lib-nav-btn-icon {
			-webkit-mask-image: url('https://cdn.icon-icons.com/icons2/317/PNG/512/heart-icon_34407.png');
		}
	}
	.ov-lib-nav-btn-addPlaylist {
		.ov-lib-nav-btn-icon {
			-webkit-mask-image: url('https://www.materialui.co/materialIcons/av/playlist_add_black_192x192.png');
		}
	}
}
