/* Style The Dropdown Button #4CAF50*/
.ov-patreon {
	background-image: url('https://c5.patreon.com/external/logo/become_a_patron_button@2x.png');
	background-position: center;
    background-size: contain;
	height: 40px;
}
.ov-button, .ov-button-disabled, .ov-patreon {
	color: white;
	padding: 12px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	outline: none;
	width:100%;
}
.ov-button {
	background-color: #8dc73f;
}
.ov-button-disabled {
	background-color: #ccc;
}
body {
	width:150px; overflow: hidden;padding:5px;font-size:12px;font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}
#footer #versionBox {
	font-style: italic;
	background: transparent;
	right: 0;
	position: absolute;
}

#footer {
	position: absolute;
	left: 10px;
	bottom: 2px;
	right: 10px;
	height: 15px;
}

#footer div {
	display: inline-block;
	color: #ccc;
	font-size: 13px;
}

#footer .links {
	text-decoration: underline;
	cursor: pointer;
	background: transparent;
	left: 0;
	position: absolute;
}







