body {
	background: #f1f1fa;
	overflow: hidden;
	font-family: "Open Sans", sans-serif;
}

#empty h1 {
	opacity: 0.7;
}

#title {
	color: #8dc73f;
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 60px;
}

#movies, #folders, #empty {
	display: none;
	width: 100%;
	max-height: 50vh;
	overflow: auto;
	background: #fff;
	border: solid 1px #8dc73f;
	border-top-style: dotted;
}

#empty {
	color: #8dc73f;
	font-size: 30px;
	display: block;
}

#content {
	
}

#search {
	width: 100%;
	text-align: right;
	background: #fff;
	border: solid 1px #8dc73f;
	border-bottom: 0;
}

input[type='text'], textarea, button, .inputstyle {
	padding: 10px;
	border: solid 1px gainsboro;
	-webkit-transition: box-shadow 0.3s, border 0.3s;
	-moz-transition: box-shadow 0.3s, border 0.3s;
	-o-transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
	margin: 3px;
	font-family: "Open Sans", sans-serif;
	outline-color: #b1d97b;
	resize: none;
	margin: 10px 10px 10px 0px;
	background: white;
}

input[type='text']:focus, textarea:focus, button:hover, .inputstyle:hover {
	border: solid 1px #8dc73f;
	-webkit-box-shadow: 0 0 5px 1px #8dc73f;
	-moz-box-shadow: 0 0 5px 1px #8dc73f;
	box-shadow: 0 0 5px 1px #8dc73f;
}

button {
	background-color: #8dc73f; /* Green */
	border: none;
	color: white;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.lib-movie {
	text-align: left !important;
	cursor: pointer;
	transition-duration: 200ms;
	transition-property: transform, border, box-shadow, margin, opacity,
		width;
	border: 1px solid rgba(150, 150, 150, 0.3);
	background: #fff;
	border-radius: 2px;
	box-sizing: border-box;
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 15px;
	height: 160px;
	line-height: 100%;
	margin: 8px;
	opacity: 1;
	outline: 0;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	white-space: nowrap;
	width: 192px;
}

.lib-movie:hover {
	border: solid 1px #8dc73f;
	-webkit-box-shadow: 0 0 5px 1px #8dc73f;
	-moz-box-shadow: 0 0 5px 1px #8dc73f;
	box-shadow: 0 0 5px 1px #8dc73f;
}

.lib-movie-x:hover {
	opacity: 1;
}

.lib-movie-icon {
	background-size: 20px;
	height: 20px;
	left: 7px;
	margin: 0;
	pointer-events: none;
	position: absolute;
	top: 7px;
	width: 20px;
}

.lib-movie-title {
	border: none;
	height: 19px;
	left: 31px;
	line-height: 18px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	text-overflow: clip;
	top: 8px;
	width: 140px;
}

.lib-movie-title:after {
	background: linear-gradient(transparent 150px, white);
}

.lib-movie-pic {
	border: none;
	border-radius: 0;
	cursor: pointer;
	margin-left: 3px;
	margin-top: 35px;
	margin-right: 3px;
	height: 120px;
	position: absolute;
}

.lib-movie-pic img {
	min-height: 100%;
	width: 100%;
}

.lib-movie-x {
	background-image: url('close.png');
	opacity: 0.3;
	background-size: cover;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	height: 15px;
	position: absolute;
	right: 0;
	width: 15px;
	margin-top: 3px;
	margin-right: 2px;
}

div {
	display: block;
}

a, a:active, a:hover, a:visited {
	color: inherit;
	text-decoration: none;
}

.lib-movie-icon img {
	height: 100%;
	width: 100%;
}